# Design files - nem kellenek a webhez
*.psd
*.psb
*.ai
*.psdt
*.zip

# Thumbs
Thumbs.db
.DS_Store

# Mappák amik nem kellenek
assets/
gyujtes webre/
XD export/
developer export/
design spec/
prototype/
